<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-v6ozlGnjWb3GLgXuoAmo0W+/mZ5hPTiagxFJ8U66GUt94JdSFOiuo8CSFXE0gtgB" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header class="header">
      <div class="logo">
        <!-- Redirect to home page when logo is clicked -->
        <a href="home">
          <img src="../../logo.ico" alt="Logo">
        </a>
          <span class="name"> Parelle</span>
      </div>
        <div class="actions">
          <a href="register" class="action">Register</a>
          <span class="icon"> | </span>
          <a href="login" class="action">Login</a>
          <div class="notif-shop">
                <span class="material-symbols-outlined notification">notifications</span>
                <span class="material-symbols-outlined ">shopping_basket</span>
          </div>
        </div>
      </header>
</body>
</html>
